# Xcode
build/
DerivedData/
*.moved-aside
*.xcuserstate
xcuserdata/
.DS_Store

# Swift Package Manager
.swiftpm/
.build/

# CocoaPods (not used, but ignore if ever introduced)
Pods/

# Codemagic local artifacts
/build
